<%
  logged_in = !@user.nil? && @user.verified
  consensus = observation.consensus_naming
  any_names = observation.namings && observation.namings.count > 0
  votes = observation.user_votes_by_naming(@user)
%>

<!--TABLE OF NAMES FOR WIDE SCREEN-->
<div class="hidden-xs">
  <%= form_tag(add_query_param(controller: :vote, action: :cast_votes,
      id: observation.id), id: "cast_votes_1") do %>

    <div class="row table-namings">
      <div class="col-sm-6">
	<% if any_names %>
          <%= content_tag(:h4, :show_namings_proposed_names.t) %>
	<% else %>
	  <%= content_tag(:h4, :show_namings_no_names_yet.t) %>
	<% end %>
      </div>
      <div class="col-sm-2 push-down">
	<%= :show_namings_date_proposed.t %>
      </div>
      <div class="col-sm-2 push-down"><%= :show_namings_user.t %></div>
      <div class="col-sm-2 push-down">
	Id
	<% unless details %>
	  <%= link_with_query(:show_namings_more.t, {
	      controller: :naming,
	      action: :create,
	      id: observation.id},
	      class: "btn pull-right") %>
	<% end %>
      </div>
    </div>
    <div class="list-group">
      <% observation.namings.sort_by(&:created_at).reverse.each do |naming| %>
        <% Textile.register_name(naming.name) %>
        <div class="list-group-item">
          <div class="row">
            <% if details && logged_in %>
              <div class="col-sm-2">
                <% vote = votes[naming.id]
                   menu = Vote.confidence_menu
                   if can_have_no_opinion(naming, vote)
                     menu = [Vote.no_opinion] + menu
                   end %>
                <%= select(:vote, :value, menu, {},
                           { index: naming.id,
                             data: { role: "change_vote", id: naming.id } }
                    ) %>
                <%= submit_tag(:show_namings_cast.l,
                               class: "btn") if !can_do_ajax? %>
              <% if details && check_permission(naming) %>
                [<%= link_with_query(:EDIT.t,
                     { controller: :naming, action: :edit,
                     id: naming })
                 %>&nbsp;|&nbsp;<%= link_with_query(:DESTROY.t,
                     { controller: :naming, action: :destroy,
                     id: naming.id },
                     data: {confirm: :are_you_sure.l }) %>]
	      <% end %>
	      </div>
              <div class="col-sm-4">
            <% else %>
              <div class="col-sm-6">
            <% end %>
              <%= link_with_query(naming.format_name.t,
                  controller: :name, action: :show_name,
                  id: naming.name) %>
    	    </div>
            <div class="col-sm-2">
    	      <%= naming.created_at.strftime("%Y-%m-%d") %>
    	    </div>
            <div class="col-sm-2">
              <strong><%= user_link(naming.user, naming.user.login) %></strong>
    	    </div>
            <div class="col-sm-2">
	      <b>
    		<% if observation.is_owners_favorite?(naming) %>
                  <%= :OBSERVER.t +
    		      (naming == consensus ? ", " : "") %>
		<% end %>
                <%= :SITE.t if naming == consensus %>
              </b>
    	    </div>
          </div>
	</div>
      <% end # each_name %>
    </div>
    <!--/TABLE OF NAMES FOR WIDE SCREEN-->

    <!--HELP TEXT AND EYES FOR WIDE SCREEN-->
    <% if details %>
      <div class="row" style="margin: 0; padding-top: 0; padding-bottom: 0">
        <div class="col-xs-12">
          <div class="pull-right-sm push-down-sm">
            <%= submit_tag(:show_namings_update_votes.l,
                           data: {role: "save_votes"},
                           class: "btn") if logged_in && any_names %>
          </div>
          <p class="help-block max-width-text">
            <% if !logged_in %>
                <%= :show_namings_please_login.t %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <!--/HELP TEXT AND EYES FOR WIDE SCREEN-->
  <% end %>
</div>

<!--TABLE OF NAMES FOR MOBILE-->
<div class="visible-xs">
  <%= form_tag(add_query_param(controller: :vote, action: :cast_votes,
               id: observation.id), id: "cast_votes_2") do %>

    <div class="row visible-xs">
      <div class="col-xs-12">
        <% if any_names %>
          <%= content_tag(:h4, :show_namings_proposed_names.t) %>
          <div class="list-group">
            <% observation.namings.each do |naming| %>
              <% Textile.register_name(naming.name) %>
              <div class="list-group-item">
                <div class="row">
                  <div class="col-xs-12">
                    <%= link_with_query(naming.format_name.t,
                                        controller: :name, action: :show_name,
                                        id: naming.name) %>
                  </div>
                  <div class="col-xs-6">
		    <% if observation.is_owners_favorite?(naming) %>
                      <%= :show_observation_owner_id.t +
		          (naming == consensus ? ", " : "") %>
		    <% end %>
		    <%= :show_observation_site_id.t if naming == consensus %>
		  </div>
		  <div class="col-xs-6">
		    Proposed by
                    <strong>
		      <%= user_link(naming.user, naming.user.login) %>
		    </strong>
		    on
		    <%= naming.created_at.strftime("%Y-%m-%d") %>
                  </div>
                </div>
              </div>
            <% end # each_name %>
          </div>
	<% else # any_names %>
          <%= content_tag(:h4, :show_namings_no_names_yet.t) %>
        <% end # any_names %>
      </div>
    </div>
    <!--/TABLE OF NAMES FOR MOBILE-->
  <% end # form %>
</div>

<!--VOTE POPUPS-->
<div class="row">
  <% observation.namings.select { |naming| naming.votes.count > 0 }.each do |naming|
    @naming = naming %>
    <div class="popup" id="show_votes_<%= naming.id %>" data-role="popup">
      <div class="popup-frame" id="show_votes_<%= naming.id %>_frame">
        <%= render(partial: "vote/show_votes",
                   locals: { do_cancel: true, naming: @naming }) %>
      </div>
    </div>
  <% end %>
</div>
<% inject_javascript_at_end %(
  VotePopupModule('#{j :show_namings_lose_changes.l.gsub("\n", " ")}')
) %>
<!--/VOTE POPUPS-->
